<!DOCTYPE html>
<html lang="en" data-ng-app="wikiSearch">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>FreeCodeCamp Project - Evgeniy Maynagashev</title>

    <!--production links-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"-->
          <!--integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">-->

    <!--dev local links-->
    <link rel="stylesheet" href="../../vendor/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../../vendor/font-awesome/css/font-awesome.css">

    <link rel="stylesheet" href="src/style.css">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 logo-box">
            <a href="index.html"><img src="src/i/wiki-search.png" alt="Wikipedia Search Logo" width="500" class="center-block img-responsive"></a>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-sm-offset-3" ng-controller="MainController as c">
            <form>
                <div class="input-group"  style="margin-bottom: 30px;">
                    <input type="text" name="search query" ng-model="query" placeholder="Enter search query" class="form-control">
                    <span class="input-group-btn"><input type="submit" class="btn btn-warning" ng-click="c.sendRequest()">Search</input></span>
                </div>
                <ul class="list-unstyled">
                    <li ng-repeat="r in results">
                        <div class="media">
                            <div class="media-left">
                                <a href="https://en.wikipedia.org/wiki/{{r.title}}"><img src="" alt="" width="100" height="100" media-object"></a>
                            </div>

                            <div class="media-body">
                                <div class="media-heading">
                                    <a href="https://en.wikipedia.org/wiki/{{r.title}}">{{r.title}}</a>
                                </div>
                                <p>{{r.snippet}}</p>
                                <p>{{r.timestamp | date}}</p>
                            </div>
                        </div>
                    </li>
                </ul>

                <div ng-show="resultsFetched && results.length <= 0">
                    <h3>Nothing found.</h3>
                </div>
            </form>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 footer-icons text-center">
                <a href="https://www.linkedin.com/in/maynagashev" target="_blank"><i class="fa fa-linkedin"></i></a>
                <a href="http://codepen.io/maynagashev/pens/public" target="_blank"><i class="fa fa-codepen"></i></a>
                <a href="http://freecodecamp.com/maynagashev" target="_blank"><i class="fa fa-fire"></i></a>
                <a href="https://github.com/maynagashev" target="_blank"><i class="fa fa-github"></i></a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 footer-text text-center">
                Copyright &copy; 2016 <a href="https://www.linkedin.com/in/maynagashev" target="_blank">Evgeniy Maynagashev</a>.<br>
                Developed for the FreeCodeCamp Front-end Development Challenge.

            </div>
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script>
<script src="src/ng-wiki-app.js"></script>
</body>
</html>