<!DOCTYPE html>
<html lang="en" data-ng-app="wikiSearch">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>FreeCodeCamp Project - Evgeniy Maynagashev</title>

    <!--production links-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"-->
          <!--integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">-->

    <!--dev local links-->
    <link rel="stylesheet" href="../../vendor/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../../vendor/font-awesome/css/font-awesome.css">

    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">

    <!--<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">-->
    <link rel="stylesheet" href="src/style.css">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 logo-box">
            <a href="index.html"><img src="src/i/wiki-search.png" alt="Wikipedia Search Logo" width="500" class="center-block img-responsive"></a>
        </div>
    </div>
    <div class="row" style="padding-top: 30px;">
        <div class="col-xs-12 col-sm-8 col-sm-offset-2" ng-controller="MainController as ctrl">
            <div class="row" style="margin-bottom: 30px;">
                <md-content class="md-padding">
                    <form name="searchForm" ng-submit="ctrl.submit()">
                        <md-autocomplete
                                ng-disabled="ctrl.isDisabled"
                                md-no-cache="ctrl.noCache"
                                md-selected-item="ctrl.selectedItem"
                                md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
                                md-search-text="ctrl.searchText"
                                md-selected-item-change="ctrl.selectedItemChange(item)"
                                md-items="item in ctrl.querySearch(ctrl.searchText)"
                                md-item-text="item.display"
                                md-min-length="0"
                                placeholder="What do you want to know about?">
                            <md-item-template>
                                <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.display}}</span>
                            </md-item-template>
                            <md-not-found>
                                No states matching "{{ctrl.searchText}}" were found.
                                <a ng-click="ctrl.newState(ctrl.searchText)">Create a new one!</a>
                            </md-not-found>
                        </md-autocomplete>
                        <br>
                        <md-checkbox ng-model="ctrl.simulateQuery">Simulate query for results?</md-checkbox>
                        <md-checkbox ng-model="ctrl.noCache">Disable caching of queries?</md-checkbox>
                        <md-checkbox ng-model="ctrl.isDisabled">Disable the input?</md-checkbox>

<!--
                        {{query}}
                        <div class="input-group">
                            <input type="text" required
                                   name="search query"
                                   ng-model="query"
                                   ng-model-options="{ updateOn: 'default blur' }"
                                   placeholder="Enter search query"
                                   class="form-control"
                                   id="search-input">
                            <span class="input-group-btn"><input type="submit" class="btn btn-warning"value="Search"></input></span>
                        </div>

                        <div class="small text-right" style="padding: 8px 5px;">
                            <a href="https://en.wikipedia.org/wiki/Special:Random" target="_blank">OR pick a random
                                Wikipedia entry &rarr;</a>
                        </div>-->
                    </form>
                </md-content>

            </div>


            <ul class="list-unstyled" style="margin-bottom: 20px;">
                <li ng-repeat="m in errm track by $index">{{m}}</li>
            </ul>

            <ul class="list-unstyled">
                <li ng-repeat="r in pagination.list">
                    <div class="media">
                        <div class="media-left">
                            <a href="https://en.wikipedia.org/wiki/{{r.title}}">
                                <img ng-src="{{(r.thumbnail.source) ? r.thumbnail.source : 'https://www.wikipedia.org/portal/wikipedia.org/assets/img/noimage.png'}}" alt="" width="80" class="media-object">
                            </a>
                        </div>

                        <div class="media-body">
                            <div class="media-heading">
                                <a href="https://en.wikipedia.org/wiki/{{r.title}}">{{r.title}}</a>
                            </div>
                            <p>{{r.terms.description[0]}}</p>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="pagination">
                <label><span>Pages:</span>
                <button ng-repeat="p in pagination.pages" ng-click="c.showPage(p)" class="btn btn-warning" style="margin-right: 10px;">{{p}}</button>
                </label>
            </div>



        </div>
    </div>
</div>
<!--<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 footer-icons text-center">
                <a href="https://www.linkedin.com/in/maynagashev" target="_blank"><i class="fa fa-linkedin"></i></a>
                <a href="http://codepen.io/maynagashev/pens/public" target="_blank"><i class="fa fa-codepen"></i></a>
                <a href="http://freecodecamp.com/maynagashev" target="_blank"><i class="fa fa-fire"></i></a>
                <a href="https://github.com/maynagashev" target="_blank"><i class="fa fa-github"></i></a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 footer-text text-center">
                Copyright &copy; 2016 <a href="https://www.linkedin.com/in/maynagashev" target="_blank">Evgeniy Maynagashev</a>.<br>
                Developed for the FreeCodeCamp Front-end Development Challenge.

            </div>
        </div>
    </div>
</footer>-->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<!--<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>-->

<!-- Angular Material requires Angular.js Libraries -->
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-aria.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-messages.min.js"></script>

<!-- Angular Material Library -->
<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>


<script src="src/app.js"></script>
<script src="src/services.js"></script>
</body>
</html>