html {
    position: relative;

}
body {
    background-color: #111856;
    color: #fff;
    height: auto;
}

.media {
    margin-bottom: 10px;
}
.pagination {
    margin-top:30px;
}
.pagination span {
    margin-right:20px;
}
.footer {
    width: 100%;

}
.footer-text {padding: 10px; color: #ddd; font-size: 80%;}
.footer-icons {padding-top:10px; font-size: 20px; color: #ddd;}
.footer-icons a {margin: 0 3px; color: #ddd;}


/* The starting CSS styles for the enter animation */
.fade.ng-enter {
    transition:0.5s linear all;
    opacity:0;
}

/* The finishing CSS styles for the enter animation */
.fade.ng-enter.ng-enter-active {
    opacity:1;
}

