html {
    background-color: #111856;
}
body {
    background-color: #111856;
    color: #fff;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.site-content {
    flex: 1;
}
h3 a, a:hover { color: white; }
h3 a:visited { color: antiquewhite; }

.searchmatch {
    background-color: #172297;
}
.item {margin-bottom: 30px;}
.media {
    margin-bottom: 10px;
}
.pagination {
    margin-top:30px;
}
.pagination span {
    margin-right:20px;
}
.footer {
    margin-top: 50px;
    width: 100%;
}
.footer-text {padding: 10px; color: #ddd; font-size: 80%;}
.footer-icons {padding-top:10px; font-size: 20px; color: #ddd;}
.footer-icons a {margin: 0 3px; color: #ddd;}



/* The starting CSS styles for the enter animation */
.fade.ng-enter {
    transition:0.5s linear all;
    opacity:0;
}

/* The finishing CSS styles for the enter animation */
.fade.ng-enter.ng-enter-active {
    opacity:1;
}

